{{> header}}
<h3>{{ project.name }}</h3>
<div class="row mb-4">
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header">Open</div>
            <ul class="list-group list-group-flush" id="openList">
                {{#each openTasks as |task|}}
                <li class="list-group-item">
                    <a href="/tasks/{{task.id}}">{{ task.title }}</a>
                    <button onclick="changeStatus('{{task.id}}', 'active')"></button>
                </li>
                {{/each}}
            </ul>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header">In progress</div>
            <ul class="list-group list-group-flush" id="activeList">
                {{#each pendingTasks as |task|}}
                    <li class="list-group-item">
                        <a href="/tasks/{{task.id}}">{{ task.title }}</a>
                        <button onclick="changeStatus('{{task.id}}', 'closed')"></button>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card" style="width: 18rem;">
            <div class="card-header">Finished</div>
            <ul class="list-group list-group-flush" id="closedList">
                {{#each closedTasks as |task|}}
                    <li class="list-group-item" id="{{task.id}}">
                        <a href="/tasks/{{task.id}}">{{ task.title }}</a>
                    </li>
                {{/each}}
            </ul>
        </div>
    </div>
    <button id="addTask">Add Task</button>
    <div class="col-md-12" id="taskForm">
        <form>
            <div class="form-group">
                <label for="title">Task title:</label>
                <input id="title" class="form-control" name="title" placeholder="Name your task">
            </div>
            <div class="form-group">
                <label for="description"></label>
                <textarea name="description" id="description"></textarea>
            </div>
            <input type="hidden" id="form-projectId" name="projectId">
            <input type="hidden" id="form-id" name="id">
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>
<input type="hidden" value="{{project.id}}" id="projectId" />
<script src="/js/tasks.js"></script>
{{> footer}}